@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

:root {
	--bg-color: white;
	--lightest-color: #f3f5f7;
	--lighter-color: #ECEFF1;
	--light-color: #DFE5E9;
  --medium-color: #D0D9DE;
  --dark-color: #9CABB3;
	--darker-color: #50585c;
	--medium-alpha-60: rgba(208, 217, 222, 0.6);
	--medium-alpha-30: rgba(208, 217, 222, 0.3);
	--yellow-alpha-20: rgba(255, 187, 0, 0.2);
	--yellow-alpha-10: rgba(255, 187, 0, 0.1);
	--red-alpha-10: rgba(255, 72, 0, 0.1);
	--green-alpha-10: rgba(91, 219, 166, 0.1);
	--green-alpha-20: rgba(91, 219, 166, 0.2);
	--blue: rgb(0,100,200);
	--light-blue: rgb(37, 146, 255);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background-color: var(--bg-color);
	margin: 3.4rem 0 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cousine', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 15px;
	line-height: 22px;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--medium-color);
}

input:focus, textarea:focus, div[contenteditable]:focus, li:focus {
	outline-color: var(--medium-color);
}

h2 {
	line-height: 1.4;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.color-1:not(:focus)  { color: #023ad4; }
.color-2:not(:focus)  { color: #72011b; }
.color-3:not(:focus)  { color: #d62411; }
.color-4:not(:focus)  { color: #fa6e02; }
.color-5:not(:focus)  { color: #ffbb00; }
.color-6:not(:focus)  { color: #73b101; }
.color-7:not(:focus)  { color: #ff80a4; }
.color-8:not(:focus)  { color: #ff005d; }
.color-9:not(:focus)  { color: #990161; }
.color-10:not(:focus) { color: #430067; }
.color-11:not(:focus) { color: #10427c; }
.color-12:not(:focus) { color: #3eabe6; }
.color-13:not(:focus) { color: #967c27; }
.color-14:not(:focus) { color: #10d275; }
.color-15:not(:focus) { color: #007899; }
.color-16:not(:focus) { color: #0b00a7; }
